<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="page-header">
			  <h1>AOC México</h1>
			</div>
		</div>
	</div>
	<% @contents.each do |content| %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3><%= content.section %></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<%= content.text %>
		</div>
	</div>
	<% end %>
</div>